<section class="hero is-light is-fullheight">
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-centered">
  <div class="column is-one-third-tablet is-5-desktop is-centered">
    <img src="<%= config.assets.cdn %>/media/iam.png" />
</div>
<div class="column is-one-third-tablet is-one-quarter-desktop has-text-right level">
	<p >I am a 25 year old Product Manager. I enjoy barbecuing, a rare steak, copacetic family time, evenings by the fireplace, and the  old-fashioned outdoors. Recently, I started to blog about cooking at <a href="http://cbreezy.kitchen" style="font-family: 'Playfair Display', serif; text-decoration: underline;">cbreezy.kitchen</a>.</p>

</div>
</div>

<div class="columns is-centered">
<div class="column is-one-third-tablet is-5-desktop is-centered">
	<h2>
							<a href="https://github.com/iammatthias"><i class="ion-social-github-outline"></i></a>

							<a href="https://www.instagram.com/iam_matthias/"><i class="ion-social-instagram-outline"></i> </a>

							<a href="https://twitter.com/iamMatthias"><i class="ion-social-twitter-outline"></i></a>

							<a href="https://www.facebook.com/iammatthias"><i class="ion-social-facebook-outline"></i></a>

							<a href="https://www.linkedin.com/in/iammatthias"><i class="ion-social-linkedin-outline"></i></a>

							<a href="https://plus.google.com/+MatthiasJordan"><i class="ion-social-googleplus-outline"></i></a>

							<a href="https://www.reddit.com/user/iammatthias/"><i class="ion-social-reddit-outline"></i></a>

<a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#101;&#64;&#105;&#97;&#109;&#109;&#97;&#116;&#116;&#104;&#105;&#97;&#115;&#46;&#99;&#111;&#109;"><i class="ion-ios-email-outline"></i></a>
						</h2>

</div>

</div>
<div class="columns is-mobile is-centered">
<div class="column is-one-third-tablet is-5-desktop">
<code>  <p>Say "hello" to <a style="color: #ed6c63;" href="/bot"><em><b><u>MatthiasBot!</u></b></em></a></p>

<div class="columns is-mobile is-centered">
<div class="column"><a href="http://telegram.me/iammatthias_bot" class="btn btn--full">Telegram<a></div>
<div class="column"><a href="http://m.me/iammatthiasbot" class="btn btn--full">Messenger<a></div>
</div></code>
</div>

  </div>
</div>

</section>
