<section class="hero is-fullheight"
>
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-centered">
  <div class="column is-one-third-tablet is-5-desktop has-text-left">
        <h1 class="title">
        <%= title %><br />

        </h1>
        <p>
        <%= description %>
        </p>
</div>
  <div class="column is-one-third-tablet is-5-desktop has-text-left">
      <blockquote>
<p>Multi-source, cross platform streaming app. Allows for one device to “drive” while others connect to add songs to a communal playlist.</p>
</blockquote>
<p>Jukebox has been a bit of a pet project of mine. I remember the first time I went to a party in college, and someone drunkenly stammered and fumbled their way through the process of unplugging someone's phone from the stereo so they could plug in their own. Smart Phones had been the norm for a few years at this point, we all had Spotify and SoundCloud, but for some reason our music was fragmented.</p>
<p>There had to be a better way.</p>
<p>Jukebox was inspired by its namesake, the classic neon covered record players that crowdsourced the communal playlists for American diners. It finally saw the light of day in the spring of 2016, when I had the opportunity to serve a the Product Manager for a small team, and build out a working MVP(minimum viable product). At this point, users are able to create accounts, search and add songs to playlists from SoundCloud, and autoplay the added tracks.</p>
<p><img src="<%= config.assets.folder_img %>/jukebox_ui.jpg" alt="Jukebox"></p>
<p>I worked closely with <a href="https://angelpangux.com">Angel Pang - UX Designer</a> to rapidly iterate through a series of potential design for a future mobile app. Her help was invaluable, and we were able to establish a simple, and logical userflow.   </p>
<p>More information can be found at <a href="http://jukebox.surge.sh">http://jukebox.surge.sh</a> or on the repo: <a href="https://github.com/jfadem82/jukebox">https://github.com/jfadem82/jukebox</a></p>
<p>A live demo of the platform can be found here: <a href="https://jukebox-pmi.herokuapp.com/#/home">https://jukebox-pmi.herokuapp.com/#/home</a></p>
<h2>Team</h2><p><a href="http://iammatthias.com">Matthias Jordan - Product Manager</a></p>
<p><a href="https://angelpangux.com">Angel Pang - UX Designer</a></p>
<p><a href="http://joshfadem.la">Josh Fadem - Developer</a></p>
<p><a href="https://github.com/nathan-castor">Nate Castor - Developer</a></p>
</div>


  </div>
</div>
</div>


</section>
