<section class="hero is-fullheight"
>
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-centered">
  <div class="column is-one-third-tablet is-5-desktop has-text-left">
        <h1 class="title">
        <%= title %><br />

        </h1>
        <p>
        <%= description %>
        </p>
</div>
  <div class="column is-one-third-tablet is-5-desktop has-text-left">
    <img src="<%= config.assets.folder_img %>/tmr2.jpg" />

                <p>
      				TMR wanted their companies brochure to be turned into a responsive single page static site. We built it using <a href="http://gohugo.io">Hugo</a>.
      				</p>

</div>


  </div>
</div>
</div>


</section>
