<%- partial("_shared/_header") %>


    <!-- Client -->
    <section class="container" id="clientwork">

        <div class="row">
            <div class="column">
                <p class="f1" id="name">Client Work</p>
            </div>
        </div>
        <div class="row">
<div class="column">
    <div>
        <a href="work/cm" id="blogtitle"><span class="f2" id="work">Clark & Madison</span>
<br />
<img src="img/cm.jpg" /></a>

    </div>
</div>
            <div class="column">
                <div>
                    <a href="work/tmr" id="blogtitle"><span class="f2" id="work">The Media Room</span>
					<br />
					<img src="img/tmr.jpg" /></a>

                </div>
            </div>
            <div class="column">

                <a href="work/shivam" id="blogtitle"><span class="f2" id="work">Shivam Thapar</span>
					<br />
					<img src="img/shivam.jpg" /></a>

            </div>
        </div>

    </section>

    <!-- Open Source -->
    <section class="container" id="opensource">

        <div class="row">
            <div class="column">
                <p class="f1" id="name">Open Source</p>
            </div>
        </div>
        <div class="row">
            <div class="column">


                <a href="work/harpjsregistry" id="blogtitle"><span class="f2" id="work">HarpJS Theme Registry</span>
					<br />
					<img src="img/registry.jpg" /></a>


            </div>
            <div class="column">


                <a href="work/hbtufte" id="blogtitle"><span class="f2" id="work">Tufte CSS Harp Boilerplate</span>
					<br />
					<img src="img/tufte.jpg" /></a>


            </div>
            <div class="column">


                <a href="work/prezto" id="blogtitle"><span class="f2" id="work">Personalized Prezto ZSH Prompt</span>
					<br />
					<img src="img/prompt.jpg" /></a>

            </div>
        </div>

    </section>
