<%- partial("/_shared/_header") %>


<!-- Client -->
<section class="container" id="bio">

  <div class="row">
    <div class="column">
      <p class="f2" id="name">Bio & Contact</p>
    </div>
  </div>
  <div class="row">
  <div class="column">
        <img src="/img/iam.png" />


      </div>
    <div class="column">
              	<p >I am 25 year old Product Manager with a beard and a dog. I enjoy bbqing, a rare steak, copacetic family time, evenings by the fireplace, and the  old-fashioned outdoors. Recently, I started to blog about cooking at <a href="http://cbreezy.kitchen" style="font-family: 'Playfair Display', serif; text-decoration: underline;">cbreezy.kitchen</a>. There are some fun recipe ideas, and pictures of what I'm eating. It's a bit like Instagram in that way.</p>

	<p class="bio-soc" style="font-size: 2.6rem;">
							<a href="https://github.com/iammatthias"><i class="ion-social-github-outline"></i></a>

							<a href="https://www.instagram.com/iam_matthias/"><i class="ion-social-instagram-outline"></i> </a>

							<a href="https://twitter.com/iamMatthias"><i class="ion-social-twitter-outline"></i></a>

							<a href="https://www.facebook.com/iammatthias"><i class="ion-social-facebook-outline"></i></a>

							<a href="https://www.linkedin.com/in/iammatthias"><i class="ion-social-linkedin-outline"></i></a>

							<a href="https://plus.google.com/+MatthiasJordan"><i class="ion-social-googleplus-outline"></i></a>

							<a href="https://www.reddit.com/user/iammatthias/"><i class="ion-social-reddit-outline"></i></a>

<a href="mailto:me@iammatthias.com?subject=Inquiry"><i class="ion-ios-email-outline"></i></a>
						</p>



        </div>
  </div>

</section>
