<section class="hero is-fullheight"
>
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-mobile is-centered">
  <div class="column is-one-third-tablet is-one-quarter-desktop is-centered">
    <img src="<%= config.assets.folder_img %>/bitface.png" />
</div>
</div>
<div class="columns is-mobile is-centered">
  <div class="column is-half-tablet is-half-desktop">
    <code>  <p>This is <em><b>MatthiasBot.</b></em> And he's pretty great. Feel free to come say hello with Telegram or Messenger to find out a bit more.</p></code>

    <code>
<div class="columns is-mobile is-centered">
<div class="column"><a href="http://telegram.me/iammatthias_bot" class="btn btn--full">Telegram<a></div>
<div class="column"><a href="http://m.me/iammatthiasbot" class="btn btn--full">Messenger<a></div>
</div>
</code>

</div>
    </div>
  </div>
</div>

</section>
