			<nav class="navigation">
				<section class="container">
					<div class="row">
					<div class="column">

					<a class="navigation-title" href="/">
						<img class="img" src="img/logo.svg" height="30" alt="Milligram" title="Milligram">
						<h1 class="title">I AM MATTHIAS</h1>
					</a>

</div>
<div class="column">
<div style='float:right; width: 20px;'>
<div class="button_container" id="toggle">
	  <span class="top"></span>
	  <span class="middle"></span>
		<span class="bottom"></span>
</div>
</div>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a href="/">Home</a></li>
      <li><a href="#clientwork">Client Work</a></li>
      <li><a href="#opensource">Open Source</a></li>
			<li><a href="/journal">Journal</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</div>
</div>

				</section>
			</nav>

			<header class="header" id="home">
				<section class="container">
					<img class="img" src="img/logo.svg" alt="Milligram" title="Milligram">

				</section>
			</header>
