<section class="hero">

<div class="container">
  <h1 class="title">
    Journal
  </h1>

    <div class="columns is-mobile is-centered">
  <div class="column is-one-third-tablet is-5-desktop has-text-left">
      <% for(var slug in public.journal.posts._data){ %>
        <h1 class="f2"><a href="posts/<%= slug %>" id="blogtitle"><%= public.journal.posts._data[slug].title %><br />
        <span class="f3"><%= public.journal.posts._data[slug].date %></span></a></h1>
        <p class="f4"><%= public.journal.posts._data[slug].description %></p>
      <% }; %>
</div>


  </div>
</div>

</section>
