<section class="hero is-fullheight"
>
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-mobile is-centered">
  <div class="column is-one-third-tablet is-one-quarter-desktop is-centered">
    <h1>404</h1>
    <h3>Whoops. Looks like what you're looking for can't be found.</h3>


</div>
</div>


</div>
    </div>
</section>
