html, body
    height: 100%
    background: #f5f7fa


body
    font-family: "brandon_grotesque"
    text-align: center
    padding: 0 0px
    color: #444
    margin: 0


footer
    position: fixed
    bottom: 0px
    width: 100%
    background: #fff

#home
    background: url("/assets/img/bg.jpg")
    background-size: cover

#logo
    width: 15rem
    padding-bottom: 100px
    margin: 0 auto
    box-shadow: none

.small-txt
    font-size: 10px
    margin: 0 50px 50px

code
    background: #fff

img
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1)

#no-border
    box-shadow: none
