<%- partial("/_shared/_header") %>


    <!-- Client -->
    <section class="container" id="photographs">

        <div class="row">
            <div class="column">
                <p class="f2" id="name">Photographs</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div>
                    <a href="people" id="blogtitle"><span class="f2" id="work">People</span>
    <br />
    <img src="/img/gal/people/people-010.jpg" alt="image"/></a>

                </div>
            </div>
            <div class="column">
                <div>
                    <a href="places" id="blogtitle"><span class="f2" id="work">Places</span>
    <br />
    <img src="/img/gal/places/california-004.jpg" alt="image"/></a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div>
                    <a href="events" id="blogtitle"><span class="f2" id="work">Events</span>
    <br />
    <img src="/img/gal/events/tl-032.jpg" alt="image"/></a>

                </div>
            </div>
            <div class="column">
                <div>
                    <a href="mobile" id="blogtitle"><span class="f2" id="work">Mobile</span>
    <br />
    <img src="/img/gal/mobile/mobile-00004.jpg" alt="image"/></a>

                </div>
            </div>
        </div>

    </section>
