<%- partial("/_shared/_header") %>


    <!-- Client -->
    <section class="container" id="photographs">

        <div class="row">
            <div class="column">
                <p class="f2" id="name">Mobile</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
<div class="gallery" id="example1" data-chocolat-title="Set title">
<% for(var i in public.img.gal.mobile._contents){ %>
  <% var image = public.img.gal.mobile._contents[i] %>
  <% if ( image.match(/\b.(jpg|bmp|jpeg|gif|png|tif)\b/gi) ) { %>

    <a class="chocolat-image" href="/img/gal/mobile/<%= image %>">
<img src="/img/gal/mobile/<%= image %>" alt="image"/></a>


  <% } %>
<% } %>
</div>
            </div>
        </div>

    </section>
