<section class="hero is-light is-fullheight"
>
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-centered">
  <div class="column is-one-third-tablet is-5-desktop has-text-left">
        <h1 class="title">
        <%= title %><br />

        </h1>
        <p>
        <%= description %>
        </p>
</div>
  <div class="column is-one-third-tablet is-5-desktop has-text-left">
    <img src="<%= config.assets.cdn %>/media/shivam2.jpg" />

              <p>
      				This was a new iteration of Shivam's existing site. We wanted to clean up how the content was displayed, while adding a sense of dynamism to the site. In the end, we settled on tweaked version of <a href="http://milligram.github.io">Milligram</a> with <a href="https://github.com/maraisr/mosaic.js">Mosaic.js</a> handling the real time Delaunay triangulation.
      				</p>
</div>


  </div>
</div>
</div>


</section>
