<%- partial("/_shared/_header") %>


<!-- Client -->
<section class="container" id="clientwork">

  <div class="row">
    <div class="column">
      <p class="f2" id="name">Clark & Madison</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
					<img src="/img/cm.jpg" />

                <p class="f3">
      					Clark and Madison is an up and coming American made luxury leather goods brand from Los Angeles, California. I worked with two others consulting PM’s to conduct user research, and rapidly iterate on new designs their ecommerce site. The founders were an integral part of the process, as we worked to address the pain points on their existing platform. In the end we devised a series of UX design changes, email marketing campaign tactics, social media outreach techniques, and brand strategies.
      				</p>
<p class="f3">
<a href="https://www.clarkandmadison.com">For more information, please visit: https://www.clarkandmadison.com</a>

</p>
              <p class="f3">
              <img src="/img/cm_1.jpg" />
              </p>
        </div>
  </div>

</section>
