<%- partial("/_shared/_header") %>


<!-- Client -->
<section class="container" id="clientwork">

  <div class="row">
    <div class="column">
      <p class="f2" id="name">Harp JS Boilerplate/Theme Registry</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
					<img src="/img/registry.jpg" />
    </div>
        <div class="column">
                <p class="f3">
      				There has been an open issue since January 2014 requesting a site directory for HarpJS boilerplates, independent of the harp.io platform. I built out a simple registry that lives on Github/Surge.sh and can be updated via an addition
    					to the _data.json file.
      				</p>
<p class="f3">
<a href="https://github.com/iammatthias/harpjs-boilerplate-registry.surge.sh">For more information, please check the repo: https://github.com/iammatthias/harpjs-boilerplate-registry.surge.sh</a>

</p>
        </div>
  </div>

</section>
