<%- partial("/_shared/_header") %>


<!-- Client -->
<section class="container" id="clientwork">

  <div class="row">
    <div class="column">
      <p class="f2" id="name">Harp Boilerplate based on Tufte CSS</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
					<img src="/img/tufte.jpg" />
    </div>
        <div class="column">
                <p class="f3">
      				I fell in love with Tufte CSS the first time I came across it. Crisp, clean, and exceptionally readable. After cloning the Github repo and playing around with the CSS, I started the process of applying it to a blog boilerplate for
    					HarpJS.
      				</p>
<p class="f3">
<a href="https://github.com/iammatthias/HB-Tufte">For more information, please check the repo: https://github.com/iammatthias/HB-Tufte</a>

</p>
        </div>
  </div>

</section>
