<%- partial("/_shared/_header") %>


<!-- Client -->
<section class="container" id="clientwork">

  <div class="row">
    <div class="column">
      <p class="f2" id="name">Personalized Prezto ZSH Prompt</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
					<img src="/img/prompt.jpg" />
    </div>
        <div class="column">
                <p class="f4">
      				I recently made the jump from BASH to ZSH, and settled on Prezto as my configuration framework. I worked my way through every theme I could find, but none of them did exactly what I wanted. So I started fiddling around, and cobbled
    					together my favorite bits of functionality from the different themes I came across.
      				</p>
              <p class="f4">
                <a href="https://github.com/iammatthias/Personal-ZSH-Prezto-prompt">For more information, please check the repo: https://github.com/iammatthias/Personal-ZSH-Prezto-prompt</a>
</p>
        </div>
  </div>

</section>
