<%- partial("/_shared/_header") %>


<!-- Client -->
<section class="container" id="clientwork">

  <div class="row">
    <div class="column">
      <p class="f2" id="name">Shivam Thapar</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
					<img src="/img/shivam.jpg" />
    </div>
        <div class="column">
                <p class="f4">
      				This was a new iteration of Shivam's existing site. We wanted to clean up how the content was displayed, while adding a sense of dynamism to the site. In the end, we settled on tweaked version of <a href="http://milligram.github.io">Milligram</a> with <a href="https://github.com/maraisr/mosaic.js">Mosaic.js</a> handling the real time Delaunay triangulation.
      				</p>
<p class="f4">
<a href="https://github.com/iammatthias/Shiv-Thaps">For more information, please check the repo: https://github.com/iammatthias/Shiv-Thaps</a>

</p>
        </div>
  </div>

</section>
