<%- partial("/_shared/_header") %>


<!-- Client -->
<section class="container" id="clientwork">

  <div class="row">
    <div class="column">
      <p class="f2" id="name">The Media Room</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
					<img src="/img/tmr.jpg" />
    </div>
        <div class="column">
                <p class="f3">
      					TMR wanted their companies brochure to be turned into a responsive single page static site. We built it using <a href="http://gohugo.io">Hugo</a>.
      				</p>
<p class="f3">
TMR's site can be found here: <a href="http://themediaroom.la">http://themediaroom.la</a>.
</p>
        </div>
  </div>

</section>
