

<section class="hero is-light is-fullheight">
  <!-- Hero header: will stick at the top -->
<div class="container">
  <h1 class="title">
    PHOTOGRAPHY
  </h1>
  <h2 class="subtitle">

  </h2>
</div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container ">
    <div class="columns is-centered">
  <div class="column is-one-third-tablet is-three-quarters-desktop is-centered">


<div class="gallery" >
<% var keys = new Array(41)
    .join().split(',')
    .map(function(item, index){ return ++index;});
    for (var i=0; i<keys.length;i++) { %>
      <a class="swipebox" href="http://cdn.iammatthias.com/gal/events/events-<%= [keys[i]] %>.jpg">
      <img class="lazy" src="http://cdn.iammatthias.com/gal/events/events-<%= keys[i] %>.jpg" /></a>
<% } %>
</div>



</div>
  </div>
</div>
</div>

</section>
