<section class="hero is-fullheight">
  <!-- Hero header: will stick at the top -->
<div class="container">
  <h1 class="title">
    PHOTOGRAPHY
  </h1>
  <h2 class="subtitle">

  </h2>
</div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
    <div class="columns is-centered">
  <div class="column is-one-third-tablet is-5-desktop is-centered">

<div class="card is-fullwidth">
  <a href="people"><header class="card-header">
    <p class="card-header-title">
      People
    </p>
  </header>
  <div class="card-image image is-2by1">
      <img src="<%= config.assets.folder_img %>/thumb/people-010.jpg" />
  </div>
</a>
</div>
</div>
<div class="column is-one-third-tablet is-5-desktop is-centered">

<div class="card is-fullwidth">
  <a href="places"><header class="card-header">
    <p class="card-header-title">
      Places
    </p>
  </header>
<div class="card-image image is-2by1">
      <img src="<%= config.assets.folder_img %>/thumb/california-008.jpg" />
  </div></a>
</div>
</div>
</div>

    <div class="columns is-centered">
  <div class="column is-one-third-tablet is-5-desktop is-centered">

<div class="card is-fullwidth">
<a href="events"><header class="card-header">
  <p class="card-header-title">
    Events
  </p>
</header>
  <div class="card-image image is-2by1">
    <img src="<%= config.assets.folder_img %>/thumb/tl-035.jpg" />
  </div></a>
</div>
</div>

<div class="column is-one-third-tablet is-5-desktop is-centered">
<div class="card is-fullwidth">
  <a href="mobile"><header class="card-header">
    <p class="card-header-title">
      Mobile
    </p>
  </header>
<div class="card-image image is-2by1">
    <img src="<%= config.assets.folder_img %>/thumb/mobile-00004.jpg" />
  </div></a>
</div>
</div>
</div>
  </div>
</div>

</section>
