<div class="hero is-light">
  <div class="container">
    <div class="columns ">
      <div class="column has-text-left small-txt">

&copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> Matthias Kronfeld Jordan <br />
Built with <a href="https://harpjs.com">HarpJs</a> & <a href="http://bulma.io">Bulma</a>. Hosted with <a href="https://surge.sh">Surge.sh.</a><br />
        <a href="/humans.txt" >humans.txt</a>
      </div>
    </div>
  </div>
</div>
