<footer class="nav-menu">
    <div class="tabs is-centered is-small" id="footer-nav">
  <ul>
    <li class="is-active"><a href="#home">Home</a></li>
    <li><a href="#client">Client Work</a></li>
    <li><a href="#open">Open Source</a></li>
  </ul>
</div>
</footer>
