<section class="hero is-small">
  <!-- Hero header: will stick at  the top -->

  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <a class="nav-item" href="/"><%= title %></a>
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item" href="/">Home</a>
          <a class="nav-item" href="/#client">Work</a>
          <a class="nav-item" href="/photo">Photography</a>
          <a class="nav-item" href="/bio">Bio</a>
          <a class="nav-item" href="/journal">Journal</a>

        </div>
      </div>
    </header>
  </div>
</section>
