<section class="hero is-fullheight" id="home">
  <!-- Hero header: will stick at the top -->

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container is-centered">
  <img src="<%= config.assets.folder_img %>/logo.svg" id="logo"/>
    </div>
  </div>

</section>
