<section class="hero is-fullheight" id="open">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">

                    <!-- Card 1 -->
<a href="/jukebox"><div class="card is-fullwidth">
    <header class="card-header">
        <p class="card-header-title">
            Jukebox
        </p>
    </header>
    <div class="card-image">
        <figure class="image">
            <img src="<%= config.assets.folder_img %>/jukebox.jpg" />
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            Multi-source, cross platform streaming app.
        </div>
    </div>
</div></a>

                </div>
                <div class="column">

                    <!-- Card 2 -->
                    <a href="/tufte"><div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Tufte CSS Harp Boilerplate
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= config.assets.folder_img %>/tufte.jpg" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                HarpJS Boilerplate based on Tufte CSS.
                            </div>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="columns">
                <div class="column">

                    <!-- Card 3 -->
<a href="/registry">
<div class="card is-fullwidth">
    <header class="card-header">
        <p class="card-header-title">
            HarpJS Theme Registry
        </p>
    </header>
    <div class="card-image">
        <figure class="image">
            <img src="<%= config.assets.folder_img %>/registry.jpg" />
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            A simple registry that lives on Github/Surge.sh.
        </div>
    </div>
</div></a>
                </div>
                <div class="column">

                    <!-- Card 4 -->
                    <a href="/prezto"><div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Personalized Prezto ZSH Prompt
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= config.assets.folder_img %>/prompt.jpg" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                A customized prompt for the Prezto ZSH framework.
                            </div>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>
