<section class="hero is-fullheight" id="client">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">

                    <!-- Card 1 -->

                    <a href="/cm"><div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Clark & Madison
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= config.assets.folder_img %>/cm.jpg" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Worked with company founders to rapidly iterate on new designs for their ecommerce site.
                            </div>
                        </div>
                    </div></a>
                </div>
                <div class="column">

                    <!-- Card 2 -->
                    <a href="/tmr"><div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                The Media Room
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= config.assets.folder_img %>/tmr.jpg" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                TMR wanted their companies brochure to be turned into a responsive single page static site. We built it using Hugo.
                            </div>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">

                    <!-- Card 3 -->
                    <a href="/shivam"><div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Shivam Thapar
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= config.assets.folder_img %>/shivam.jpg" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                This was a new iteration of Shivam's existing site. We cleaned up how the content was displayed, and added a dynamic feel to the site.
                            </div>
                        </div>
                    </div></a>
                </div>
                <div class="column">

                    <!-- Card 4 -->
                    <a href="/thaddeus"><div class="card is-fullwidth">
                        <header class="card-header">
                            <p class="card-header-title">
                                Thaddeus Jordan
                            </p>
                        </header>
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= config.assets.folder_img %>/tkj.jpg" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                Thaddeus is a recent USC graduate who wanted a site for his resume, and eventually his music.
                            </div>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>
