<section class="hero is-light is-fullheight" id="client">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">

                    <!-- Card 1 -->

                    <div class="card is-fullwidth">
                        <a href="/cm"><header class="card-header">
                            <p class="card-header-title">
                                Clark & Madison
                            </p>
                        </header>
                        <div class="card-image">

                                <img src="<%= config.assets.cdn %>/media/cm.jpg" />

                        </div></a>
                        <div class="card-content">
                            <div class="content" >
                                  Worked with company founders to rapidly iterate on new designs for their ecommerce site.
                            </div>
                        </div>
                    </div></a>
                </div>
                <div class="column">

                    <!-- Card 2 -->
                    <div class="card is-fullwidth">
                        <a href="/tmr">
                        <header class="card-header">
                            <p class="card-header-title">
                                The Media Room
                            </p>
                        </header>
                        <div class="card-image">

                                <img src="<%= config.assets.cdn %>/media/tmr.jpg" />

                        </div>
                        </a>
                        <div class="card-content">
                            <div class="content">
                                TMR wanted their companies brochure to be turned into a responsive single page static site.
                            </div>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">

                    <!-- Card 3 -->
                    <div class="card is-fullwidth">
<a href="/shivam">
                        <header class="card-header">
                            <p class="card-header-title">
                                Shivam Thapar
                            </p>
                        </header>
                        <div class="card-image">

                                <img src="<%= config.assets.cdn %>/media/shivam.jpg" />

                        </div>
</a>
                        <div class="card-content">
                            <div class="content">
                                Shivam and I cleaned up how the content was displayed, and added a dynamic feel to the site.
                            </div>
                        </div>
                    </div></a>
                </div>
                <div class="column">

                    <!-- Card 4 -->
                    <div class="card is-fullwidth">
<a href="/thaddeus">
                        <header class="card-header">
                            <p class="card-header-title">
                                Thaddeus Jordan
                            </p>
                        </header>
                        <div class="card-image">

                                <img src="<%= config.assets.cdn %>/media/tkj.jpg" />

                        </div>
</a>
                        <div class="card-content">
                            <div class="content">
                                Thaddeus is a recent USC graduate who wanted a site for his resume, and eventually his music.
                            </div>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</section>
